
.listData{
  width: 250px;
  margin-top: 20px;
}
input{
width: 250px;
  height: 30px;
}

.deleteIcon{
  position: fixed;
/* display: inline; */
margin-left: 5rem;
}
.editIcon{
  position: fixed;
margin-left: 20px;
}